/*
* Breakpoints
* ======================================================================== */
$breakpoints: (
    'small': 320px,
    'medium': 700px,
    'large': 1024px,
    'xLarge': 1400px
);

/* Colors
* ======================================================================== */
$swatch1: #0e0e0e;
$swatch2: #71558E;
$swatch3: #98cec8;
$swatch4: #F4D754;
$swatch5: #D46360;