/*
* Breakpoints
* ======================================================================== */
$breakpoints: (
    'small': 320px,
    'medium': 700px,
    'large': 1024px,
    'xLarge': 1400px
);

/* Colors
* ======================================================================== */
$swatch1: #0e0e0e;
$swatch2: #fc6467;
$swatch3: #eeeeea;