
@charset "utf-8";

// Vendor -------------- //
@import 'lib/reset';

// Core -------------- //
@import 'core/vars';
@import 'core/utils'; 


// Partials -------------- //
@import 'partials/main-header';
@import 'partials/button';
@import 'partials/behandling';
@import 'partials/tilbud';
 
@import 'partials/typography';

[data-touch="false"] .mobileOnly { 
    display: none;
}

@include allAbove(medium){

    [data-touch="false"] .mobileOnly {
        
    }
}


body{
    background: $swatch3;
}

.width-limit{
    max-width: 1000px;
    margin: 0 auto;
    padding-left: .5em;
    padding-right: .5rem;
    
    @include allAbove(medium){
        padding-left: 2em;
        padding-right: 2rem;
    }
}

blockquote{
    quotes: '\201C' '\201D' "2018" "2019";
    font-style: italic;
}

blockquote:before {
    content: open-quote;
}
blockquote:after {
    content: close-quote;
}

blockquote p {
    display: inline;
}

img{
    max-width: 100%;
    height: auto;
}

