
@charset "utf-8";

// Vendor -------------- //
@import 'lib/reset';

// Core -------------- //
@import 'core/vars';
@import 'core/utils'; 


// Partials -------------- //
@import 'partials/main-header';
@import 'partials/button';
@import 'partials/behandling';
@import 'partials/tilbud';
 
@import 'partials/typography';

[data-touch="false"] .mobileOnly { 
    display: none;
}

@include allAbove(medium){

    [data-touch="false"] .mobileOnly {
        
    }
}


body{
    background: $swatch3;
}

.width-limit{
    max-width: 1000px;
    margin: 0 auto;
    padding-left: .5em;
    padding-right: .5rem;
    
    @include allAbove(medium){
        padding-left: 2em;
        padding-right: 2rem;
    }
}

blockquote{
    quotes: '\201C' '\201D' "2018" "2019";
    font-style: italic;
}

blockquote:before {
    content: open-quote;
}
blockquote:after {
    content: close-quote;
}

blockquote p {
    display: inline;
}

img{
    max-width: 100%;
    height: auto;
}


.section__img{
    margin-top: -2rem;
    position: relative;
    display: inline-block;

    img{
        position: relative;
        z-index: 1;
    }

    &:after{
        content: "";
        background: rgba(0,0,0,.05);
        position: absolute;
        left: -1rem;
        top: -1rem;
        width: 100%;
        height: 100%;
        z-index: 0;

    }

    @include allAbove(medium){
        margin-top: -6rem;
    }
}

.om-oss{
    padding: 8rem 0 4rem 0;

    @include allAbove(medium){
        padding: 8rem 0 12rem 0;
    }

    &__inner{
        display: flex;
        flex-direction: column;

        @include allAbove(medium){
            flex-direction: row;
            align-items: flex-start;

            h1{
                margin-right: 2rem;
                width: 60%;
            }
            h2{}
        }
    }

    h1{}
    h2{}
}


.behandling {

    &__inner{
        display: flex;
        flex-direction: column;


        @include allAbove(medium){
            flex-direction: row;
            align-items: flex-start;
        }
    
    }
    
}