<div class="tilbud">
    <h3 class="fs-2">Våre tilbud</h3>
    <ul>
        <li class="tilbud__item">
            {% include components/button.html variant="button" functionality="toggle" content="Massasje" %}
            
            <div class="tilbud__info">
                <p>Bedriftsmassasje der vi tilpasser behandlingen i forhold til den ansattes ønsker. Dette er en helsetjeneste som de med både akutte og forebyggende behov kan benytte seg av.</p>
                <h3>Helsemessige effekter av massasje</h3>
                <ul>
                    <li>Gir økt konsetrasjon</li>
                    <li>Øker blodsirkulasjonen i musklene</li>
                    <li>Stressreduserende</li>
                    <li>Gjør spente muskler myke og elastiske</li>
                    <li>Har en avslappende effekt på kroppen</li>
                    <li>Gir en dypere og bedre pust</li>
                    <li>Gir en økt kroppsbevisthet</li>
                </ul>
                <p>Minimum 10 behandlinger per besøk (5 timer).</p>
                <p><em>Pris:</em> 790kr /t (395,- pr behandling)</p>
            </div>
            
        </li>

        <li class="tilbud__item">
            {% include components/button.html variant="button" functionality="toggle" content="Naprapatbehandling" %}
            <div class="tilbud__info">
                <p>Dette er en behandlingsform som innebærer flere behandlingsteknikker; massasje, muskeltøyning, triggerpunktsbehandling og manipulasjon (leddjustering). Terapeuten tilbyr også trenings og kostholdsveiledning. Naprapaten er en kombinasjon av en massør og en kiropraktor.</p>
                <p><em>Pris: </em>990kr/t (495kr per behandling)</p>
            </div>
        </li>
        
        <li class="tilbud__item">
            {% include components/button.html variant="button" functionality="toggle" content="Fysioterapi" %}
            <div class="tilbud__info">
                <p>Vi hjelper deg med å forebygge og behandle skader og sykdommer som gir smerter og/eller nedsatt funksjon i muskel- og skjelettsystemet. Behandlingen er basert på undersøkelse og vurdering av pasientens problem og hva pasienten selv ønsker hjelp til. Målet er at pasienten kan gjenvinne eller holde ved like funksjonsevnen, utnytte egne ressurser og bidra aktivt i å bedre egen helse.</p>
                <p><em>Pris:</em> 790kr/t</p>
            </div>
        </li>
        <li class="tilbud__item">
            {% include components/button.html variant="button" functionality="toggle" content="Ergonomisk tilpasning av arbeidsstasjon" %}
            <div class="tilbud__info">
                <p>Vi hjelper til med opplæring av stol -og bordbruk. Hva er riktig høyde på stolen, hvilken stol er best, hvor høyt skal arbeidsbordet være. Innledningsvis holder vi et 30 minutt foredrag om kroppens anatomi samt de ergonomiske utfordringene den gir. Deretter går vi rundt til hver enkelt og hjelper til med endring av sittestilling, belysning, støy, stol, arbeidsbord, skjerm, andre hjelpemidler . Vi bruker omtrent 5 – 10 minutter på hver ansatt.</p>
                <p><em>Pris:</em> 1490kr/t</p>
            </div>
        </li>
        <li class="tilbud__item">
            {% include components/button.html variant="button" functionality="toggle" content="Treningsprogram" %}
            <div class="tilbud__info">
                <p>Vi tilbyr individuelle treningsprogrammer til de ansatte. Disse programmene er rettet mot spesifikke diagnoser som feks. musearm, hodepine eller langvarige korsryggproblemer. Vi har også kompetanse til å lage treningsprogrammer til den som vil komme i form med styrke eller løping.</p>
                <p><em>Pris:</em> 790kr/t</p>
            </div>
        </li>
 
    </ul>
</div>