<div class="tilbud">
    <h3>Våre tilbud</h3>
    <ul>
        <li class="tilbud__item">
            {% include components/button.html variant="button" functionality="toggle" content="Massasje" %}
            
            <div class="tilbud__info">
                <p>Bedriftsmassasje der vi tilpasser behandlingen i forhold til den ansattes ønsker. Dette er en helsetjeneste som de med både akutte og forebyggende behov kan benytte seg av.</p>
                <h3>Helsemessige effekter av massasje</h3>
                <ul>
                    <li>Gir økt konsetrasjon</li>
                    <li>Øker blodsirkulasjonen i musklene</li>
                    <li>Stressreduserende</li>
                    <li>Gjør spente muskler myke og elastiske</li>
                    <li>Har en avslappende effekt på kroppen</li>
                    <li>Gir en dypere og bedre pust</li>
                    <li>Gir en økt kroppsbevisthet</li>
                </ul>
                <p>Minimum 10 behandlinger per besøk (5 timer).</p>
                <p><em>Pris:</em> 790kr /t (395,- pr behandling)</p>
            </div>
            
        </li>

        <li class="tilbud__item">
            {% include components/button.html variant="button" functionality="toggle" content="Naprapatbehandling" %}
            <div class="tilbud__info">
                <p>Bedriftsmassasje der vi tilpasser behandlingen i forhold til den ansattes ønsker. Dette er en helsetjeneste som de med både akutte og forebyggende behov kan benytte seg av.</p>
                <h3>Helsemessige effekter av massasje</h3>
                <ul>
                    <li>Gir økt konsetrasjon</li>
                    <li>Øker blodsirkulasjonen i musklene</li>
                    <li>Stressreduserende</li>
                    <li>Gjør spente muskler myke og elastiske</li>
                    <li>Har en avslappende effekt på kroppen</li>
                    <li>Gir en dypere og bedre pust</li>
                    <li>Gir en økt kroppsbevisthet</li>
                </ul>
                <p>Minimum 10 behandlinger per besøk (5 timer).</p>
                <p><em>Pris:</em> 790kr /t (395,- pr behandling)</p>
            </div>
        </li>
        
        <li class="tilbud__item">
            {% include components/button.html variant="button" functionality="toggle" content="Fysioterapi" %}
            <div class="tilbud__info">
                <p>Bedriftsmassasje der vi tilpasser behandlingen i forhold til den ansattes ønsker. Dette er en helsetjeneste som de med både akutte og forebyggende behov kan benytte seg av.</p>
                <h3>Helsemessige effekter av massasje</h3>
                <ul>
                    <li>Gir økt konsetrasjon</li>
                    <li>Øker blodsirkulasjonen i musklene</li>
                    <li>Stressreduserende</li>
                    <li>Gjør spente muskler myke og elastiske</li>
                    <li>Har en avslappende effekt på kroppen</li>
                    <li>Gir en dypere og bedre pust</li>
                    <li>Gir en økt kroppsbevisthet</li>
                </ul>
                <p>Minimum 10 behandlinger per besøk (5 timer).</p>
                <p><em>Pris:</em> 790kr /t (395,- pr behandling)</p>
            </div>
        </li>
        <li class="tilbud__item">
            {% include components/button.html variant="button" functionality="toggle" content="Ergonomisk tilpasning av arbeidsstasjon" %}
            <div class="tilbud__info">
                <p>Bedriftsmassasje der vi tilpasser behandlingen i forhold til den ansattes ønsker. Dette er en helsetjeneste som de med både akutte og forebyggende behov kan benytte seg av.</p>
                <h3>Helsemessige effekter av massasje</h3>
                <ul>
                    <li>Gir økt konsetrasjon</li>
                    <li>Øker blodsirkulasjonen i musklene</li>
                    <li>Stressreduserende</li>
                    <li>Gjør spente muskler myke og elastiske</li>
                    <li>Har en avslappende effekt på kroppen</li>
                    <li>Gir en dypere og bedre pust</li>
                    <li>Gir en økt kroppsbevisthet</li>
                </ul>
                <p>Minimum 10 behandlinger per besøk (5 timer).</p>
                <p><em>Pris:</em> 790kr /t (395,- pr behandling)</p>
            </div>
        </li>
        <li class="tilbud__item">
            {% include components/button.html variant="button" functionality="toggle" content="Treningsprogram" %}
            <div class="tilbud__info">
                <p>Bedriftsmassasje der vi tilpasser behandlingen i forhold til den ansattes ønsker. Dette er en helsetjeneste som de med både akutte og forebyggende behov kan benytte seg av.</p>
                <h3>Helsemessige effekter av massasje</h3>
                <ul>
                    <li>Gir økt konsetrasjon</li>
                    <li>Øker blodsirkulasjonen i musklene</li>
                    <li>Stressreduserende</li>
                    <li>Gjør spente muskler myke og elastiske</li>
                    <li>Har en avslappende effekt på kroppen</li>
                    <li>Gir en dypere og bedre pust</li>
                    <li>Gir en økt kroppsbevisthet</li>
                </ul>
                <p>Minimum 10 behandlinger per besøk (5 timer).</p>
                <p><em>Pris:</em> 790kr /t (395,- pr behandling)</p>
            </div>
        </li>
 
    </ul>
</div>