body{
    color: $swatch1;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.15rem;
    line-height: 1.5;
}
h1 {
    margin: 0 0 .75rem 0;
    @include allAbove(medium){
        margin: 0 0 1.5rem 0;
    }
}
.f-bold, em {
    font-weight: bold;
}

.font-2 {
    font-family: 'Noto Serif SC', serif; 
}
.f-bold {

}

.fs-1 {
    font-size: 1.85rem;

    @include allAbove(medium){
        font-size: 2.5rem;
    }
}
.fs-2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
}
.fs-3 {
    font-size: 1.4rem;
}
.fs-4 {
    font-size: 1.25rem;
}