{% assign class = "vivas-button " | append: include.class %}
{% assign variant = include.variant | default: "link" %}
{% assign type = include.type | default: "submit" %}
{% assign content = include.content %}
{% assign href = include.href %}
{% assign functionality = include.functionality %}

{% if content %}
<div class="{{ class }}">
  {% if variant == 'button' %}
    <button type="{{ type }}" {% if functionality == 'modal'%}class="modalTrigger"{% endif %} {% if functionality == 'toggle'%}class="toggle"{% endif %}><span>{{ content }}</span></button>
  {% else %}

  <a href="{{ href }}"><span>{{ content }}</span></a>

  {% endif %}
</div>
{% endif %}