
@charset "utf-8";

// Vendor -------------- //
@import 'lib/reset';

// Core -------------- //
@import 'core/vars';
@import 'core/utils'; 
@import 'core/icon';


// Partials -------------- //
@import 'partials/main-header';
@import 'partials/footer';
@import 'partials/button';
@import 'partials/behandling';
@import 'partials/tilbud';
 
@import 'partials/typography';

[data-touch="false"] .mobileOnly { 
    display: none;
}

html {
    scroll-behavior: smooth;
}
.modal{
    display: none;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.5);
    }

    @include allAbove(medium){
        width: 70vw;
        height: 70vw;
        max-width: 800px;
        max-height: 700px;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    }

    @include allAbove(large){
        
    }

    &__close-btn{
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        border: 1px solid rgba(0,0,0,.5);
        padding: .5rem;
        z-index: 11;
    }
}
.modal-content{
    display: none;
    width: 100%;
    padding: 4rem 1rem 1rem 1rem;
}

.modalActive{
    overflow: hidden;

    .modal{
        display: block;
        z-index: 9;
    }
    .modal-content{
        display: block;
        z-index: 10; 
    }
}


@include allAbove(medium){

    [data-touch="false"] .mobileOnly {
        
    }
}


body{
    background: $swatch3;
}

.width-limit{
    max-width: 960px;
    margin: 0 auto;
    padding-left: .5em;
    padding-right: .5rem;
    
    @include allAbove(medium){
        padding-left: 2em;
        padding-right: 2rem;
    }
}

.visuallyhidden { 
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
  }

ul{
    padding-left: 2rem;
}
li{
    margin: .5rem 0;
}

blockquote{
    quotes: '\201C' '\201D' "2018" "2019";
    font-style: italic;
}

blockquote:before {
    content: open-quote;
}
blockquote:after {
    content: close-quote;
}

blockquote p {
    display: inline;
}

img{
    max-width: 100%;
    height: auto;
}


.section__img{
    position: relative;
    display: inline-block;

    @include allAbove(medium){
        right: -1rem;
    }

    img{
        position: relative;
        display: block;
        z-index: 1;
    }

    &:after{
        content: "";
        background: rgba(0,0,0,.05);
        position: absolute;
        left: -1rem;
        top: -1rem;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}

.om-oss{
    padding: 8rem 0 4rem 0;

    @include allAbove(medium){
        padding: 8rem 0 12rem 0;
    }

    &__inner{
        display: flex;
        flex-direction: column;

        @include allAbove(medium){
            flex-direction: row;
            align-items: flex-start;

            h1{
                margin-right: 2rem;
                width: 60%;
            }
            h2{}
        }
    }

    h1{}
    h2{}
}


.behandling { 
    padding: 2rem 0rem;

    @include allAbove(medium){
        padding: 4rem 0 8rem 0;
    }

    .section__img {
        margin-top: -4rem;

        @include allAbove(medium){
            margin-top: -10rem;
            margin-right: 5rem;
        }

    }

    &__header {
        display: flex;
        flex-direction: column;
        margin: 0 0 2rem 0;

        @include allAbove(medium){
            flex-direction: row;
            align-items: flex-start;

            > div{
                width: 100%;
            }
        }
    }

    &__expertise {
        margin: 1rem 0 0 0;

        @include allAbove(medium){
            margin: 0;
        }
    }

    &__tilbud{
        margin: 1rem 0;
    }
    
    &__behandlinger {
        padding: 0;

        @include allAbove(medium){
            padding: 0 2rem;
            margin: 1rem 0;
        }

        ul{
            
            @include allAbove(medium){
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                li{
                    width: 33.33333%;
                }
            }
        }
    }
}


.provetime { 
    padding: 2rem 0;
    @include allAbove(medium){
        padding: 3rem 0 5rem 0;
    }

    .vivas-button {
        width: 100%;
    }

    .section__img {
        margin-top: 2rem;

        @include allAbove(medium){
            margin: -5rem 0 2rem 0;
        }
    }
    
    &__inner{
        display: flex;
        flex-direction: column;

        @include allAbove(medium){
            flex-direction: row;
            align-items: flex-start;

            > div {
                flex: 1;
            }
        }
    }

    @include allAbove(medium){
        &__left{
            margin-right: 5rem;
        }
    }
}