<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "nb" }}">

{% include head.html %}

<body data-loaded="false" data-touch="">
  {% include symbols.html %}

  {% include header.html %}

  <!--<section id="om-oss" class="section">
    <h1>Om oss</h1>
    <h2>Vivas er en landsdekkende tilbyder av bedriftsbehandling innen <a href="#massasje">massasje</a>, <a href="#naprapati">naprapati</a> og <a href="#fysioterapi">fysioterapi</a>.</h2>
  </section>
-->

  {% include footer.html %}
  
</body>